In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("../data/Train.csv")
test = pd.read_csv("../data/Test.csv")

## SOME BASIC EDA

In [3]:
print("Train Data shape: ",train.shape)
print("Test Data shape: ",test.shape)

Train Data shape:  (400000, 19)
Test Data shape:  (100000, 18)

#### Information on each of the columns in the dataset

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         400000 non-null  object
 1   REGION          242480 non-null  object
 2   TENURE          400000 non-null  object
 3   MONTANT         259723 non-null  float64
 4   FREQUENCE_RECH  259723 non-null  float64
 5   REVENUE         265337 non-null  float64
 6   ARPU_SEGMENT    265337 non-null  float64
 7   FREQUENCE       265337 non-null  float64
 8   DATA_VOLUME     203146 non-null  float64
 9   ON_NET          254181 non-null  float64
 10  ORANGE          233683 non-null  float64
 11  TIGO            160614 non-null  float64
 12  ZONE1           31690 non-null   float64
 13  ZONE2           25513 non-null   float64
 14  MRG             400000 non-null  object
 15  REGULARITY      400000 non-null  int64
 16  TOP_PACK        232671 non-null  object
 17  FREQ_TOP_PACK   232671 non-null  float64
 18  CHURN           400000 non-null  int64
dtypes: float64(12), int64(2), object(5)
memory usage: 58.0+ MB

In [5]:
test.info()
## We can see from this that we have 4 categorical columns and 13 numerical columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         100000 non-null  object
 1   REGION          60707 non-null   object
 2   TENURE          100000 non-null  object
 3   MONTANT         65049 non-null   float64
 4   FREQUENCE_RECH  65049 non-null   float64
 5   REVENUE         66510 non-null   float64
 6   ARPU_SEGMENT    66510 non-null   float64
 7   FREQUENCE       66510 non-null   float64
 8   DATA_VOLUME     50662 non-null   float64
 9   ON_NET          63617 non-null   float64
 10  ORANGE          58800 non-null   float64
 11  TIGO            40212 non-null   float64
 12  ZONE1           7680 non-null    float64
 13  ZONE2           6422 non-null    float64
 14  MRG             100000 non-null  object
 15  REGULARITY      100000 non-null  int64
 16  TOP_PACK        58297 non-null   object
 17  FREQ_TOP_PACK   58297 non-null   float64
dtypes: float64(12), int64(1), object(5)
memory usage: 13.7+ MB

In [6]:
train.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,dcf68cc2fb515ccad7d8b9b3bd80ee2a4b270063,SAINT-LOUIS,K > 24 month,17000.0,32.0,18000.0,6000.0,34.0,NaN,97.0,355.0,6.0,NaN,NaN,NO,62,All-net 500F=2000F;5d,35.0,0
1,71c44b5ba328db5c4192a80f7cf8f244d9350ed0,NaN,K > 24 month,4300.0,29.0,4427.0,1476.0,37.0,1764.0,8.0,3.0,0.0,NaN,2.0,NO,40,"Data: 100 F=40MB,24H",22.0,0
2,ce46411b1526c94f20a383b8cb188f8d27f82a0a,TAMBACOUNDA,K > 24 month,1500.0,3.0,1500.0,500.0,3.0,NaN,30.0,30.0,NaN,NaN,NaN,NO,32,All-net 500F=2000F;5d,3.0,0
3,f467cdb6669818373c26c2bad44e01ba66f97d21,FATICK,K > 24 month,1500.0,3.0,2497.0,832.0,4.0,0.0,159.0,45.0,19.0,NaN,NaN,NO,18,On net 200F=Unlimited _call24H,3.0,0
4,ec45e1a1888a32b5dcce0954cfec20c6e037db31,FATICK,K > 24 month,NaN,NaN,498.0,166.0,3.0,1.0,1.0,3.0,NaN,NaN,NaN,NO,50,NaN,NaN,0

In [7]:
test.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,af900d87e73b7ff6509d2203df4704a98aa5f2a6,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,NaN,NaN
1,5335efd940280b82143272275637d1e65d37eadb,NaN,K > 24 month,NaN,NaN,10.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NO,2,NaN,NaN
2,a581f4fa08677c26f83f643248c667e241043086,NaN,K > 24 month,1900.0,15.0,2299.0,766.0,21.0,414.0,NaN,7.0,2.0,NaN,NaN,NO,27,"Data: 100 F=40MB,24H",17.0
3,64f67177d0775262b8087a9e2e3b8061b6324ae6,DAKAR,K > 24 month,3000.0,9.0,2603.0,868.0,14.0,332.0,0.0,23.0,4.0,NaN,NaN,NO,46,IVR Echat_Daily_50F,3.0
4,0d6009a4594c4be22449b8d9cc01a0bcea98faea,DAKAR,K > 24 month,32000.0,47.0,33000.0,11000.0,47.0,NaN,128.0,555.0,280.0,NaN,NaN,NO,61,All-net 500F=2000F;5d,65.0

#### Investigate the number of unique values in each column

In [8]:
train.nunique()

user_id           400000
REGION                14
TENURE                 8
MONTANT             2421
FREQUENCE_RECH       111
REVENUE            23760
ARPU_SEGMENT       11014
FREQUENCE             91
DATA_VOLUME        22229
ON_NET              5996
ORANGE              2072
TIGO                 805
ZONE1                319
ZONE2                255
MRG                    1
REGULARITY            62
TOP_PACK             111
FREQ_TOP_PACK        170
CHURN                  2
dtype: int64

In [9]:
test.nunique()

user_id           100000
REGION                14
TENURE                 8
MONTANT             1269
FREQUENCE_RECH       106
REVENUE            13625
ARPU_SEGMENT        7277
FREQUENCE             91
DATA_VOLUME        11526
ON_NET              3488
ORANGE              1338
TIGO                 526
ZONE1                186
ZONE2                153
MRG                    1
REGULARITY            62
TOP_PACK              92
FREQ_TOP_PACK        130
dtype: int64

#### Lets us explore the number of missing / NaN values in each column of the dataset

In [10]:
train.isnull().sum()

user_id                0
REGION            157520
TENURE                 0
MONTANT           140277
FREQUENCE_RECH    140277
REVENUE           134663
ARPU_SEGMENT      134663
FREQUENCE         134663
DATA_VOLUME       196854
ON_NET            145819
ORANGE            166317
TIGO              239386
ZONE1             368310
ZONE2             374487
MRG                    0
REGULARITY             0
TOP_PACK          167329
FREQ_TOP_PACK     167329
CHURN                  0
dtype: int64

In [11]:
test.isnull().sum()

user_id               0
REGION            39293
TENURE                0
MONTANT           34951
FREQUENCE_RECH    34951
REVENUE           33490
ARPU_SEGMENT      33490
FREQUENCE         33490
DATA_VOLUME       49338
ON_NET            36383
ORANGE            41200
TIGO              59788
ZONE1             92320
ZONE2             93578
MRG                   0
REGULARITY            0
TOP_PACK          41703
FREQ_TOP_PACK     41703
dtype: int64

### Let us take care of the missing / NaN values

In [12]:
## Note there are many ways this can be done i will be using "fillna()" method in this notebook
## You can explore the "SimpleImputer" package checkout the documentation here https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

In [9]:
## OUT OF THE 4 CATEGORICAL COLUMNS ONLY "TOP_PACK" and "REGION" have missing values
train["TOP_PACK"] = train["TOP_PACK"].fillna(value= "None")
train["REGION"] = train["REGION"].fillna(value= "None")


test["TOP_PACK"] = test["TOP_PACK"].fillna(value= "None")
test["REGION"] = test["REGION"].fillna(value= "None")

## i filled the missing values with a new categorical value "None"

In [10]:
## ALMOST ALL THE NUMERICAL COLUMNS HAVE MISSING VALUES
## I FILL THE MISSING VALUES WITH A VALUE OF "0.0", you can use mean, median, mode values for this also (whichever works best)
for i in ['MONTANT', 'FREQUENCE_RECH', 'REVENUE',
       'ARPU_SEGMENT', 'FREQUENCE', 'DATA_VOLUME', 'ON_NET', 'ORANGE', 'TIGO',
       'ZONE1', 'ZONE2', 'FREQ_TOP_PACK']:
    train[i] = train[i].fillna(value = 0.0)
    test[i] = test[i].fillna(value = 0.0)

In [11]:
train.isnull().sum()

user_id           0
REGION            0
TENURE            0
MONTANT           0
FREQUENCE_RECH    0
REVENUE           0
ARPU_SEGMENT      0
FREQUENCE         0
DATA_VOLUME       0
ON_NET            0
ORANGE            0
TIGO              0
ZONE1             0
ZONE2             0
MRG               0
REGULARITY        0
TOP_PACK          0
FREQ_TOP_PACK     0
CHURN             0
dtype: int64

In [16]:
test.isnull().sum()

user_id           0
REGION            0
TENURE            0
MONTANT           0
FREQUENCE_RECH    0
REVENUE           0
ARPU_SEGMENT      0
FREQUENCE         0
DATA_VOLUME       0
ON_NET            0
ORANGE            0
TIGO              0
ZONE1             0
ZONE2             0
MRG               0
REGULARITY        0
TOP_PACK          0
FREQ_TOP_PACK     0
dtype: int64

In [17]:
### Mission Successful all missing values taken care of

### MODEL BUILDING PART 1

In [12]:
## We drop some columns: 
## 1) "user_id": because each of values is unique, so its redundant to the model (i think *smiles*)
## 2) "MRG": because it possesses only one value for all the entries, so its redundant (you can attempt to include it and comapre results)
## 3) "CHURN": it is the target columns it will be assigned to "y"
X = train.drop(["user_id", "MRG", "CHURN"], axis =1)
y = train["CHURN"]

X_test = test.drop(["user_id", "MRG"], axis = 1)

#### Encoding of the Categorical Features

In [19]:
### I will be using the "labelEncoder()" package for this, there are other options which you can experiment with like OneHotEncoder, checkout 
### https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder
### https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html#sklearn.preprocessing.OrdinalEncoder

In [13]:
from sklearn.preprocessing import LabelEncoder

for i in ["REGION", "TENURE", "TOP_PACK"]:
    X[i] = LabelEncoder().fit_transform(X[i])
    X_test[i] = LabelEncoder().fit_transform(X_test[i])

In [14]:
X.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,10,7,17000.0,32.0,18000.0,6000.0,34.0,0.0,97.0,355.0,6.0,0.0,0.0,62,15,35.0
1,9,7,4300.0,29.0,4427.0,1476.0,37.0,1764.0,8.0,3.0,0.0,0.0,2.0,40,25,22.0
2,12,7,1500.0,3.0,1500.0,500.0,3.0,0.0,30.0,30.0,0.0,0.0,0.0,32,15,3.0
3,2,7,1500.0,3.0,2497.0,832.0,4.0,0.0,159.0,45.0,19.0,0.0,0.0,18,85,3.0
4,2,7,0.0,0.0,498.0,166.0,3.0,1.0,1.0,3.0,0.0,0.0,0.0,50,83,0.0

In [23]:
X_test.head()
## We can see that all the values are now in integrt/floats which our machine learning models can work with

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,9,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,68,0.0
1,9,7,0.0,0.0,10.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,68,0.0
2,9,7,1900.0,15.0,2299.0,766.0,21.0,414.0,0.0,7.0,2.0,0.0,0.0,27,15,17.0
3,0,7,3000.0,9.0,2603.0,868.0,14.0,332.0,0.0,23.0,4.0,0.0,0.0,46,43,3.0
4,0,7,32000.0,47.0,33000.0,11000.0,47.0,0.0,128.0,555.0,280.0,0.0,0.0,61,10,65.0

#### Split data into train and validation sets

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 0)
## "stratify = y", to make sure the districution of the target "CHURN" are evenly distributed in the train and validation sets

### MODEL BUILDING PART 2

In [ ]:
## create a pipeline, that scales our data using the "StandardScaler()" module, and pass it to the model
## check out more stuff on "Pipeline", https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

#pipe = Pipeline([("scaler", StandardScaler()), ("model", RandomForestClassifier())])
pipe = Pipeline([("scaler", StandardScaler()), ("model", LogisticRegression())])

In [17]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [18]:
prediction = pipe.predict(X_val)

In [19]:
from sklearn.metrics import log_loss, accuracy_score

score = accuracy_score(y_val, prediction)
print("Accuracy on validation set: ",score)

Accuracy on validation set:  0.8620875

## MAKING PREDICTION AND SAVE TO A SUBMISSION FILE

In [50]:
## we fit on the entire data this time
pipe.fit(X, y)
## we are now making prediction based on the "test dataset" stores with variable name "X_test" (if lost check the celss above)
## we are using "predict_proba()" can we are required to predict the likelihood(probabilitiy) of a user churning
## "[:,1]", this helps to select only the probabilites of churning (i.e 1), if we use "[:, 0]" it selects the probalities of not-churning (i.e 0)
pred = pipe.predict_proba(X_test)[:,1]
## so create a dictionary with the "user_id" from the "test_dataset" and the new predictions "pred"
## we trun the dictionary into a pandas dataframe using "pd.DataFrame()"
## we then export the dataframe into a csv file using ".to_csv"
pd.DataFrame({"user_id": test["user_id"], "CHURN": pred}).to_csv("starter-submission.csv", index = False)
## gave a score of 0.3029 on the Public Leaderboard

### WAY FORWARD: 1) try other classification models 2) Do some feature engineering/ featuring dropping/filling missing values with mean